$color-bg-footer: rgb(7, 134, 134);
$colorbg:whitesmoke;
$color-btn-bg1:rgb(108, 177, 214);
$color-btn-bg1-hover: rgb(50, 84, 103);
$color-btn:  azure;
$btns-look:rgb(137, 238, 137);
$btns-look-hover:green;

