@import './changeable';
@import './templates';

.detail {

    // .detail__block

    &__block {
        display: flex;
    }

    // .detail__discription

    &__discription {
        padding: 3rem 5rem;
    }

    // .detail__discription-title

    &__discription-title {
        font-size: 5rem;
    }

    // .detail__discription-text

    &__discription-text, &__discription-dete,
    &__discription-genres, &__discription-duration,
    &__discription-rating{
        @extend %discription;
        font-size: 2rem;
        margin: 1rem 0;
    }
}
.data{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.discription {

    // .discription__btns-look

    &__btns-look {
        @extend %btn;
        background: $btns-look;
        margin-top: 2rem;
        &:hover{
            background: $btns-look-hover;
            color:$color-btn;
        }
    }
}

@media (max-width: 1025px) {
    .detail {
    
            // .detail__block
    
            &__block {
                display: grid;
                justify-items: center;
            }

            // .detail__discription-title
    
            &__discription-title {
                text-align: center
            }
    }
        .discription {
    
            // .discription__btns-look
    
            &__btns {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;
            }
        }
}
@media (max-width: 420px) {
    .detail__block-img{
        width: 380px;
    }
}

@media (max-width: 390px) {
    .detail__block-img {
        width: 300px;
    }
}