@import './changeable';
@import './templates';

.conteiner{
    max-width: 1470px;
    padding: 0 10px;
    margin: 0 auto;
}
.linc {

    // .linc__block

    &__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    // .linc__block-btn

    &__block-btn {
        @extend %btn;
        background: $color-btn-bg1;
        &:hover {
            background: $color-btn-bg1-hover;
            color:$color-btn;
        }
    }
}

.movie__list-title{
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0.7rem 0.7rem 0.7rem rgb(151, 148, 148);
}


.search {

    // .search__block

    &__block {
        display: flex;
        justify-content: center;
        gap: 10%;
        margin: 3rem 0;
    }

    // .search__block-gene

    &__block-gene, &__block-year, &__block-rating {
        @extend %block-search;
    }
}

.block {

    // .block__gene-lable

    &__gene-lable, &__year-lable, &__rating-lable {
        font-size: 2rem;
    }

    &__gene-select, &__year-select{
        @extend %select;
    }
}


.film {

    &__list-block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        margin-top: 3rem;
        
    }
    // .film__list-list

    &__list-list {
        background: rgb(247, 239, 239);
        box-shadow: 1rem 1rem 1rem  rgb(196, 195, 195);
        &:hover{
            background: rgb(213, 212, 210);
        }
    }

    // .film__list-img

    &__list-img {
        width: 17rem;
    }

    // .film__list-discription

    &__list-discription {
        max-width: 17rem;
        margin-top: 0.5rem;
        text-align: center;
        color: black;
    }

    // .film__list-title

    &__list-title {
        font-size: 2rem;
        font-weight: bold;
    }

    // .film__list-date

    &__list-date, &__list-rating {
        font-size: 1.4;
    }

    // .film__list-rating

    &__list-rating {
        margin-bottom: 0.5rem;
    }

    &__list-data{
        font-size: 1rem;
    }
}

// =====================Watchlater================

.film {

    // .film__list-list

    &__list-list {
        text-align: center;
    }
}

.watchlater-img {
    width: 20rem;
}

.watchlater {

    // .watchlater__btns-look

    &__btns-look {
        @extend %btn;
        background: $btns-look;
        margin: 0.5rem auto;
        &:hover {
            background: $btns-look-hover;
            color: $color-btn;
        }
    }

    &__btns-del{
        @extend %btn;
        background: rgb(226, 106, 106);
        margin: 0.5rem auto;
        &:hover {
            background:rgb(244, 68, 68);
            color:$color-btn;
        }
    }
}


.discription {

    // .discription__btns-watchlater

    &__btns-watchlater {
        @extend %btn;
        background: $btns-look;
        margin: 4rem auto;
        &:hover {
            background: $btns-look-hover;
            color: $color-btn;
        }
    }
}