.conteiner {
  max-width: 1470px;
  padding: 0 10px;
  margin: 0 auto;
}

.linc__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linc__block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  background: rgb(108, 177, 214);
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin-top: 2rem;
}
.linc__block-btn:hover {
  background: rgb(50, 84, 103);
  color: azure;
}

.movie__list-title {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0.7rem 0.7rem 0.7rem rgb(151, 148, 148);
}

.search__block {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 3rem 0;
}
.search__block-gene {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search__block-year {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search__block-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.block__gene-lable {
  font-size: 2rem;
}
.block__year-lable {
  font-size: 2rem;
}
.block__rating-lable {
  font-size: 2rem;
}
.block__gene-select {
  width: 12rem;
  height: 2rem;
  background-color: rgb(215, 212, 212);
  border: 1px solid gray;
  border-radius: 8px;
}
.block__year-select {
  width: 12rem;
  height: 2rem;
  background-color: rgb(215, 212, 212);
  border: 1px solid gray;
  border-radius: 8px;
}
.film__list-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
}
.film__list-list {
  background: rgb(247, 239, 239);
  box-shadow: 1rem 1rem 1rem rgb(196, 195, 195);
}
.film__list-list:hover {
  background: rgb(213, 212, 210);
}
.film__list-img {
  width: 17rem;
}
.film__list-discription {
  max-width: 17rem;
  margin-top: 0.5rem;
  text-align: center;
  color: black;
}
.film__list-title {
  font-size: 2rem;
  font-weight: bold;
}
.film__list-date {
  font-size: 1.4;
}
.film__list-rating {
  font-size: 1.4rem;
}
.film__list-data {
  font-size: 1rem;
}

.film__list-list {
  text-align: center;
}
.watchlater-img {
  width: 20rem;
}

.watchlater__btns-look {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  background: rgb(137, 238, 137);
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin: 0.5rem auto;
}
.watchlater__btns-look:hover {
  background: green;
  color: azure;
}
.watchlater__btns-del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  background: rgb(226, 106, 106);
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin: 0.5rem auto;
}
.watchlater__btns-del:hover {
  background: rgb(244, 68, 68);
  color: azure;
}

.discription__btns-watchlater {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  background: rgb(137, 238, 137);
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin: 4rem auto;
}
.discription__btns-watchlater:hover {
  background: green;
  color: azure;
}

.detail__block {
  display: flex;
}
.detail__discription {
  padding: 3rem 5rem;
}
.detail__discription-title {
  font-size: 5rem;
}
.detail__discription-text {
  font-size: 2rem;
  margin: 1rem 0;
}
.detail__discription-dete {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.detail__discription-genres {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.detail__discription-duration {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.detail__discription-rating {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.data {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.discription__btns-look {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  background: rgb(137, 238, 137);
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin-top: 2rem;
}
.discription__btns-look:hover {
  background: green;
  color: azure;
}

body {
  background: whitesmoke;
}

.header {
  margin-bottom: 2rem;
}

.header-img {
  width: 100%;
  height: 20rem;
}

.footer {
  height: 5rem;
  background-color: rgb(7, 134, 134);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

small {
  font-size: 1rem;
}

.pleer {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */